#Obtenido los datos de yahoo - precio de cierre contra 200 dma
#Acumulado contra el último precio de cierre

In [1]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp
cf.set_config_file(offline=True)  # set the plotting mode to offline

In [3]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

At the start of every calendar month, we sell all holdings and buy 50 random stocks. 
The weight of each stock is still completely random, but they all add up to 100% 
to make sure we’re fully invested. 
The only added rule here is that if the index itself is below its 200-day moving average,
we don’t buy. 
This means that if the index is below the average on the first of the month, 
we spend the entire month in cash.
Now we do another 500 random iterations to see what comes out.

In [4]:
FTSE = ek.get_data('0#.FTSE', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])[0]
FTSE

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,STAN.L,Standard Chartered PLC,660.0,23165678,0.808013
1,CRDA.L,Croda International PLC,4740.0,378252,-6.178218
2,ANTO.L,Antofagasta PLC,1825.0,904817,5.358738
3,BNZL.L,Bunzl plc,3074.0,393264,-2.978056
4,SGE.L,Sage Group PLC,1229.5,4926654,7.440737
...,...,...,...,...,...
95,EDV.L,Endeavour Mining plc,1471.0,360558,-14.633981
96,OCDO.L,Ocado Group PLC,456.8,2624690,-40.875527
97,LSEG.L,London Stock Exchange Group PLC,9318.0,2029241,-0.107828
98,TSCO.L,Tesco PLC,282.2,33775436,-1.480207
99,LGEN.L,Legal & General Group PLC,246.7,18319366,-0.597372

In [5]:
FTSC = ek.get_data('0#.FTSC', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])[0]
FTSC

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,FSTA.L,Fuller Smith & Turner PLC,554.0,103157,-14.417178
1,IGC.L,India Capital Growth Fund Ltd,178.0,486932,5.202312
2,PINE.L,Pinewood Technologies Group PLC,37.6,707720,16.718266
3,OIT.L,Odyssean Investment Trust PLC,153.5,106904,-2.531646
4,NCYF.L,CQS New City High Yield Fund Ltd,50.8,1642709,2.387226
...,...,...,...,...,...
212,MNL.L,Manchester And London Investment Trust PLC,670.0,102070,25.411335
213,PORV.L,Porvair PLC,627.0,36419,1.298701
214,APTD.L,Aptitude Software Group PLC,332.0,52433,19.642857
215,PCA.L,Palace Capital PLC,224.0,67952,0.675676
216,JEGI.L,JPMorgan European Growth & Income PLC,103.0,369779,4.890674

In [6]:
import datetime as dt
today = dt.datetime.today()
f_inicio = today - dt.timedelta(days=600)
print(today, f_inicio)

2024-03-11 15:35:55.184325 2022-07-20 15:35:55.184325

In [7]:
df_ts = ek.get_timeseries(['.FTSE'], fields = ['CLOSE'],
                          start_date = f_inicio, 
                          end_date = today, 
                          interval="daily", 
                          corax = 'adjusted' )

df_ts

.FTSE         CLOSE
Date
2022-07-21  7270.51
2022-07-22  7276.37
2022-07-25   7306.3
2022-07-26  7306.28
2022-07-27  7348.23
...             ...
2024-03-05  7646.16
2024-03-06  7679.31
2024-03-07  7692.46
2024-03-08  7659.74
2024-03-11  7668.68

[414 rows x 1 columns]

In [8]:
df_ts['SMA_200'] = df_ts['CLOSE'].rolling(200).mean()
filtered_df_ts = df_ts[~df_ts['SMA_200'].isna()]
filtered_df_ts

.FTSE         CLOSE     SMA_200
Date
2023-05-09  7764.09  7504.21320
2023-05-10  7741.33  7506.56730
2023-05-11  7730.58  7508.83835
2023-05-12  7754.62  7511.07995
2023-05-15   7777.7  7513.43705
...             ...         ...
2024-03-05  7646.16  7540.79540
2024-03-06  7679.31  7541.05645
2024-03-07  7692.46  7541.66440
2024-03-08  7659.74  7541.82710
2024-03-11  7668.68  7542.56015

[215 rows x 2 columns]

In [9]:
# if the index itself is below its 200-day moving average, we don’t buy. 

filtered_df_ts['BUY'] = filtered_df_ts['SMA_200'] < filtered_df_ts['CLOSE']
filtered_df_ts

.FTSE         CLOSE     SMA_200   BUY
Date
2023-05-09  7764.09  7504.21320  True
2023-05-10  7741.33  7506.56730  True
2023-05-11  7730.58  7508.83835  True
2023-05-12  7754.62  7511.07995  True
2023-05-15   7777.7  7513.43705  True
...             ...         ...   ...
2024-03-05  7646.16  7540.79540  True
2024-03-06  7679.31  7541.05645  True
2024-03-07  7692.46  7541.66440  True
2024-03-08  7659.74  7541.82710  True
2024-03-11  7668.68  7542.56015  True

[215 rows x 3 columns]

At the start of every calendar month, we sell all holdings and buy 50 random stocks. 
The weight of each stock is still completely random, but they all add up to 100%

In [90]:
Inst_rndm = pd.DataFrame(FTSE['Instrument'].sample(n=50, random_state=140))
Inst_rndm['randNumCol'] = np.random.randint(1,10, size=len(Inst_rndm))
Inst_rndm['weight'] = Inst_rndm['randNumCol']/sum(Inst_rndm['randNumCol'] )
Inst_rndm

   Instrument  randNumCol    weight
64     MNDI.L           6  0.026906
9       AZN.L           1  0.004484
98     TSCO.L           8  0.035874
29      SKG.L           1  0.004484
60     PHNX.L           8  0.035874
39       UU.L           9  0.040359
1      CRDA.L           1  0.004484
43      PRU.L           2  0.008969
90     DPLM.L           5  0.022422
42      WTB.L           5  0.022422
2      ANTO.L           7  0.031390
12      WPP.L           8  0.035874
91      ICP.L           1  0.004484
76     FRAS.L           2  0.008969
4       SGE.L           3  0.013453
30     WEIR.L           7  0.031390
95      EDV.L           5  0.022422
73     BMEB.L           7  0.031390
55      AAL.L           3  0.013453
71       RR.L           9  0.040359
97     LSEG.L           2  0.008969
94     ULVR.L           5  0.022422
37      DGE.L           2  0.008969
65     BATS.L           2  0.008969
6      ICAG.L           3  0.013453
52       BP.L           1  0.004484
50     LAND.L           5  0.022422
7       REL.L           2  0.008969
27       NG.L           4  0.017937
48     RS1R.L           5  0.022422
8      SMIN.L           1  0.004484
26     SMDS.L           4  0.017937
14      AAF.L           3  0.013453
79      NWG.L           9  0.040359
24      MNG.L           3  0.013453
61    FLTRF.L           2  0.008969
11     CTEC.L           5  0.022422
46     EXPN.L           2  0.008969
69      RIO.L           3  0.013453
41      HLN.L           7  0.031390
19      AHT.L           7  0.031390
88     FCIT.L           2  0.008969
92     BAES.L           6  0.026906
16     SGRO.L           6  0.026906
45      IMB.L           8  0.035874
74      SSE.L           8  0.035874
83     BDEV.L           9  0.040359
3      BNZL.L           1  0.004484
82     ITRK.L           1  0.004484
78     LLOY.L           7  0.031390

In [21]:
sum(Inst_rndm['weight'])

1.0000000000000002

In [91]:
Inst_rndm['inversion'] = Inst_rndm['weight']*1000000
Inst_rndm

   Instrument  randNumCol    weight     inversion
64     MNDI.L           6  0.026906  26905.829596
9       AZN.L           1  0.004484   4484.304933
98     TSCO.L           8  0.035874  35874.439462
29      SKG.L           1  0.004484   4484.304933
60     PHNX.L           8  0.035874  35874.439462
39       UU.L           9  0.040359  40358.744395
1      CRDA.L           1  0.004484   4484.304933
43      PRU.L           2  0.008969   8968.609865
90     DPLM.L           5  0.022422  22421.524664
42      WTB.L           5  0.022422  22421.524664
2      ANTO.L           7  0.031390  31390.134529
12      WPP.L           8  0.035874  35874.439462
91      ICP.L           1  0.004484   4484.304933
76     FRAS.L           2  0.008969   8968.609865
4       SGE.L           3  0.013453  13452.914798
30     WEIR.L           7  0.031390  31390.134529
95      EDV.L           5  0.022422  22421.524664
73     BMEB.L           7  0.031390  31390.134529
55      AAL.L           3  0.013453  13452.914798
71       RR.L           9  0.040359  40358.744395
97     LSEG.L           2  0.008969   8968.609865
94     ULVR.L           5  0.022422  22421.524664
37      DGE.L           2  0.008969   8968.609865
65     BATS.L           2  0.008969   8968.609865
6      ICAG.L           3  0.013453  13452.914798
52       BP.L           1  0.004484   4484.304933
50     LAND.L           5  0.022422  22421.524664
7       REL.L           2  0.008969   8968.609865
27       NG.L           4  0.017937  17937.219731
48     RS1R.L           5  0.022422  22421.524664
8      SMIN.L           1  0.004484   4484.304933
26     SMDS.L           4  0.017937  17937.219731
14      AAF.L           3  0.013453  13452.914798
79      NWG.L           9  0.040359  40358.744395
24      MNG.L           3  0.013453  13452.914798
61    FLTRF.L           2  0.008969   8968.609865
11     CTEC.L           5  0.022422  22421.524664
46     EXPN.L           2  0.008969   8968.609865
69      RIO.L           3  0.013453  13452.914798
41      HLN.L           7  0.031390  31390.134529
19      AHT.L           7  0.031390  31390.134529
88     FCIT.L           2  0.008969   8968.609865
92     BAES.L           6  0.026906  26905.829596
16     SGRO.L           6  0.026906  26905.829596
45      IMB.L           8  0.035874  35874.439462
74      SSE.L           8  0.035874  35874.439462
83     BDEV.L           9  0.040359  40358.744395
3      BNZL.L           1  0.004484   4484.304933
82     ITRK.L           1  0.004484   4484.304933
78     LLOY.L           7  0.031390  31390.134529

In [101]:

df_ts_rndm = ek.get_timeseries(['MNDI.L'], fields = ['CLOSE'],
                          start_date = dt.datetime(2024, 2, 1, 0, 0), 
                          end_date = dt.datetime(2024, 2, 29, 0, 0), 
                          interval="daily", 
                          corax = 'adjusted' )

Precios = df_ts_rndm = df_ts_rndm.rename(columns={'CLOSE': 'MNDI.L'})

SyntaxError: invalid syntax (3206118801.py, line 1)

In [102]:
Precios

MNDI.L      MNDI.L
Date
2024-02-01  1401.0
2024-02-02  1367.5
2024-02-05  1364.0
2024-02-06  1373.0
2024-02-07  1381.0
2024-02-08  1336.0
2024-02-09  1344.0
2024-02-12  1360.5
2024-02-13  1346.0
2024-02-14  1352.5
2024-02-15  1373.0
2024-02-16  1375.0
2024-02-19  1379.5
2024-02-20  1382.5
2024-02-21  1385.5
2024-02-22  1410.5
2024-02-23  1425.5
2024-02-26  1401.0
2024-02-27  1403.0
2024-02-28  1410.0
2024-02-29  1408.5

In [103]:
for i in Inst_rndm['Instrument'][1:]:
    print(i)
    w = ek.get_timeseries([i], fields = ['CLOSE'],
                          start_date = dt.datetime(2024, 2, 1, 0, 0), 
                          end_date = dt.datetime(2024, 2, 29, 0, 0), 
                          interval="daily", 
                          corax = 'adjusted' )
    w1 = w.rename(columns={'CLOSE': i})
    Precios = Precios.join(w1, lsuffix="_left", rsuffix="_right")

AZN.L
TSCO.L
SKG.L
PHNX.L
UU.L
CRDA.L
PRU.L
DPLM.L
WTB.L
ANTO.L
WPP.L
ICP.L
FRAS.L
SGE.L
WEIR.L
EDV.L
BMEB.L
AAL.L
RR.L
LSEG.L
ULVR.L
DGE.L
BATS.L
ICAG.L
BP.L
LAND.L
REL.L
NG.L
RS1R.L
SMIN.L
SMDS.L
AAF.L
NWG.L
MNG.L
FLTRF.L
CTEC.L
EXPN.L
RIO.L
HLN.L
AHT.L
FCIT.L
BAES.L
SGRO.L
IMB.L
SSE.L
BDEV.L
BNZL.L
ITRK.L
LLOY.L

In [104]:
Precios

,MNDI.L,AZN.L,TSCO.L,SKG.L,PHNX.L,UU.L,CRDA.L,PRU.L,DPLM.L,WTB.L,...,AHT.L,FCIT.L,BAES.L,SGRO.L,IMB.L,SSE.L,BDEV.L,BNZL.L,ITRK.L,LLOY.L
Date,,,,,,,,,,,,,,,,,,,,,
2024-02-01,1401.0,10430,282.9,2880,502.0,1062.5,4967,806.2,3340,3541,...,5248,965,1169.5,866.6,1880.0,1670.5,534.8,3204,4481,42.33
2024-02-02,1367.5,10360,290.8,2862,503.4,1057.0,4863,814.2,3320,3515,...,5344,979,1172.0,862.0,1871.0,1668.5,529.4,3208,4465,42.315
2024-02-05,1364.0,10360,289.8,2862,497.2,1049.5,4943,817.8,3258,3520,...,5112,980,1179.0,856.4,1882.0,1679.0,520.8,3203,4455,41.89
2024-02-06,1373.0,10534,289.9,2870,502.0,1049.0,4959,849.2,3294,3543,...,5240,990,1205.5,860.4,1892.5,1669.5,530.0,3212,4477,41.88
2024-02-07,1381.0,10490,280.0,2972,497.1,1044.5,4990,830.2,3290,3539,...,5244,987,1198.5,845.0,1868.0,1653.0,501.0,3189,4388,41.58
2024-02-08,1336.0,9823,280.4,3130,493.4,1025.5,5022,818.2,3386,3467,...,5264,984,1195.0,846.6,1858.5,1575.5,487.5,3200,4434,41.515
2024-02-09,1344.0,9761,280.5,3176,489.2,1016.5,4970,798.0,3380,3482,...,5250,985,1209.5,835.0,1882.5,1557.0,487.1,3202,4467,41.4
2024-02-12,1360.5,9501,279.6,3202,496.7,1032.0,4927,812.4,3386,3507,...,5278,995,1224.0,837.4,1896.0,1564.0,488.5,3198,4416,41.4
2024-02-13,1346.0,9600,273.7,3156,488.8,1026.5,4834,790.8,3300,3446,...,5116,976,1212.5,813.8,1883.5,1547.0,466.1,3179,4323,41.185
2024-02-14,1352.5,9724,277.2,3182,495.4,1023.0,4865,790.4,3310,3445,...,5170,982,1230.0,814.8,1892.0,1570.0,473.6,3188,4379,41.44
2024-02-15,1373.0,9826,276.2,3200,501.2,1040.5,5024,807.6,3332,3483,...,5250,984,1225.0,833.2,1830.5,1585.5,475.7,3181,4348,41.58
2024-02-16,1375.0,10094,279.6,3248,505.0,1043.0,5040,834.4,3426,3482,...,5400,993,1242.0,849.4,1845.0,1595.5,478.0,3215,4430,43.2
2024-02-19,1379.5,10418,281.1,3280,502.6,1041.5,4985,821.2,3406,3514,...,5376,990,1248.0,864.8,1842.0,1598.0,477.8,3226,4479,42.88
2024-02-20,1382.5,10204,284.5,3252,501.8,1054.0,4999,815.0,3402,3550,...,5350,982,1253.0,861.6,1824.0,1609.5,480.8,3253,4491,43.65
2024-02-21,1385.5,10102,285.5,3250,500.2,1052.0,4906,821.8,3388,3575,...,5382,976,1241.5,868.0,1806.5,1609.5,478.0,3246,4478,43.29
2024-02-22,1410.5,10036,276.8,3242,503.0,1042.0,4854,822.6,3424,3542,...,5524,985,1232.0,871.4,1818.0,1578.0,478.0,3257,4639,45.955
2024-02-23,1425.5,10220,279.7,3248,504.0,1034.5,4925,819.6,3428,3509,...,5466,988,1240.5,864.2,1829.0,1586.5,478.5,3306,4645,45.495
2024-02-26,1401.0,10254,278.5,3248,500.8,1023.5,4903,814.6,3450,3492,...,5512,987,1256.0,863.4,1818.5,1564.0,477.3,3210,4651,45.915
2024-02-27,1403.0,10328,277.6,3282,496.8,1032.0,4748,808.0,3448,3464,...,5510,983,1235.5,849.2,1730.5,1594.0,470.4,3185,4620,46.31
2024-02-28,1410.0,10180,277.3,3334,491.6,1027.0,4600,790.8,3442,3461,...,5522,981,1229.5,845.0,1703.0,1612.5,464.0,3135,4611,46.575
2024-02-29,1408.5,9983,278.8,3378,497.3,1025.0,4766,777.6,3456,3303,...,5680,982,1242.0,845.4,1704.5,1625.5,466.5,3153,4622,46.57

In [105]:
import math
Inst_rndm['Precios']  = Precios.iloc[0].tolist()
Inst_rndm['Activos'] = (Inst_rndm['inversion']/Inst_rndm['Precios']).apply(np.floor)
Inst_rndm['InversionInicial'] = Inst_rndm['Activos']*Inst_rndm['Precios']
Inst_rndm

,Instrument,randNumCol,weight,inversion,Precios,Activos,InversionInicial
64,MNDI.L,6,0.026906,26905.829596,1401.00,19.0,26619.00
9,AZN.L,1,0.004484,4484.304933,10430.00,0.0,0.00
98,TSCO.L,8,0.035874,35874.439462,282.90,126.0,35645.40
29,SKG.L,1,0.004484,4484.304933,2880.00,1.0,2880.00
60,PHNX.L,8,0.035874,35874.439462,502.00,71.0,35642.00
39,UU.L,9,0.040359,40358.744395,1062.50,37.0,39312.50
1,CRDA.L,1,0.004484,4484.304933,4967.00,0.0,0.00
43,PRU.L,2,0.008969,8968.609865,806.20,11.0,8868.20
90,DPLM.L,5,0.022422,22421.524664,3340.00,6.0,20040.00
42,WTB.L,5,0.022422,22421.524664,3541.00,6.0,21246.00
2,ANTO.L,7,0.031390,31390.134529,1749.00,17.0,29733.00
12,WPP.L,8,0.035874,35874.439462,769.00,46.0,35374.00
91,ICP.L,1,0.004484,4484.304933,1787.00,2.0,3574.00
76,FRAS.L,2,0.008969,8968.609865,798.00,11.0,8778.00
4,SGE.L,3,0.013453,13452.914798,1173.50,11.0,12908.50
30,WEIR.L,7,0.031390,31390.134529,1813.00,17.0,30821.00
95,EDV.L,5,0.022422,22421.524664,1415.00,15.0,21225.00
73,BMEB.L,7,0.031390,31390.134529,513.20,61.0,31305.20
55,AAL.L,3,0.013453,13452.914798,1878.60,7.0,13150.20
71,RR.L,9,0.040359,40358.744395,298.80,135.0,40338.00
97,LSEG.L,2,0.008969,8968.609865,8914.00,1.0,8914.00
94,ULVR.L,5,0.022422,22421.524664,3855.50,5.0,19277.50
37,DGE.L,2,0.008969,8968.609865,2905.00,3.0,8715.00
65,BATS.L,2,0.008969,8968.609865,2339.50,3.0,7018.50
6,ICAG.L,3,0.013453,13452.914798,145.70,92.0,13404.40
52,BP.L,1,0.004484,4484.304933,465.65,9.0,4190.85
50,LAND.L,5,0.022422,22421.524664,654.00,34.0,22236.00
7,REL.L,2,0.008969,8968.609865,3289.00,2.0,6578.00
27,NG.L,4,0.017937,17937.219731,1051.00,17.0,17867.00
48,RS1R.L,5,0.022422,22421.524664,774.20,28.0,21677.60
8,SMIN.L,1,0.004484,4484.304933,1630.50,2.0,3261.00
26,SMDS.L,4,0.017937,17937.219731,276.30,64.0,17683.20
14,AAF.L,3,0.013453,13452.914798,110.80,121.0,13406.80
79,NWG.L,9,0.040359,40358.744395,220.50,183.0,40351.50
24,MNG.L,3,0.013453,13452.914798,219.40,61.0,13383.40
61,FLTRF.L,2,0.008969,8968.609865,16340.00,0.0,0.00
11,CTEC.L,5,0.022422,22421.524664,238.60,93.0,22189.80
46,EXPN.L,2,0.008969,8968.609865,3322.00,2.0,6644.00
69,RIO.L,3,0.013453,13452.914798,5487.00,2.0,10974.00
41,HLN.L,7,0.031390,31390.134529,325.75,96.0,31272.00
19,AHT.L,7,0.031390,31390.134529,5248.00,5.0,26240.00
88,FCIT.L,2,0.008969,8968.609865,965.00,9.0,8685.00
92,BAES.L,6,0.026906,26905.829596,1169.50,23.0,26898.50
16,SGRO.L,6,0.026906,26905.829596,866.60,31.0,26864.60
45,IMB.L,8,0.035874,35874.439462,1880.00,19.0,35720.00
74,SSE.L,8,0.035874,35874.439462,1670.50,21.0,35080.50
83,BDEV.L,9,0.040359,40358.744395,534.80,75.0,40110.00
3,BNZL.L,1,0.004484,4484.304933,3204.00,1.0,3204.00
82,ITRK.L,1,0.004484,4484.304933,4481.00,1.0,4481.00
78,LLOY.L,7,0.031390,31390.134529,42.33,741.0,31366.53

In [106]:
import math
Inst_rndm['PreciosFinal']  = Precios.iloc[-1].tolist()
Inst_rndm['InversionFinal']  = Inst_rndm['Activos']*Inst_rndm['PreciosFinal']
Inst_rndm

,Instrument,randNumCol,weight,inversion,Precios,Activos,InversionInicial,PreciosFinal,InversionFinal
64,MNDI.L,6,0.026906,26905.829596,1401.00,19.0,26619.00,1408.50,26761.50
9,AZN.L,1,0.004484,4484.304933,10430.00,0.0,0.00,9983.00,0.00
98,TSCO.L,8,0.035874,35874.439462,282.90,126.0,35645.40,278.80,35128.80
29,SKG.L,1,0.004484,4484.304933,2880.00,1.0,2880.00,3378.00,3378.00
60,PHNX.L,8,0.035874,35874.439462,502.00,71.0,35642.00,497.30,35308.30
39,UU.L,9,0.040359,40358.744395,1062.50,37.0,39312.50,1025.00,37925.00
1,CRDA.L,1,0.004484,4484.304933,4967.00,0.0,0.00,4766.00,0.00
43,PRU.L,2,0.008969,8968.609865,806.20,11.0,8868.20,777.60,8553.60
90,DPLM.L,5,0.022422,22421.524664,3340.00,6.0,20040.00,3456.00,20736.00
42,WTB.L,5,0.022422,22421.524664,3541.00,6.0,21246.00,3303.00,19818.00
2,ANTO.L,7,0.031390,31390.134529,1749.00,17.0,29733.00,1817.50,30897.50
12,WPP.L,8,0.035874,35874.439462,769.00,46.0,35374.00,707.20,32531.20
91,ICP.L,1,0.004484,4484.304933,1787.00,2.0,3574.00,1925.50,3851.00
76,FRAS.L,2,0.008969,8968.609865,798.00,11.0,8778.00,809.00,8899.00
4,SGE.L,3,0.013453,13452.914798,1173.50,11.0,12908.50,1244.50,13689.50
30,WEIR.L,7,0.031390,31390.134529,1813.00,17.0,30821.00,1833.00,31161.00
95,EDV.L,5,0.022422,22421.524664,1415.00,15.0,21225.00,1275.00,19125.00
73,BMEB.L,7,0.031390,31390.134529,513.20,61.0,31305.20,525.80,32073.80
55,AAL.L,3,0.013453,13452.914798,1878.60,7.0,13150.20,1701.00,11907.00
71,RR.L,9,0.040359,40358.744395,298.80,135.0,40338.00,369.10,49828.50
97,LSEG.L,2,0.008969,8968.609865,8914.00,1.0,8914.00,8876.00,8876.00
94,ULVR.L,5,0.022422,22421.524664,3855.50,5.0,19277.50,3866.50,19332.50
37,DGE.L,2,0.008969,8968.609865,2905.00,3.0,8715.00,2962.00,8886.00
65,BATS.L,2,0.008969,8968.609865,2339.50,3.0,7018.50,2345.00,7035.00
6,ICAG.L,3,0.013453,13452.914798,145.70,92.0,13404.40,147.25,13547.00
52,BP.L,1,0.004484,4484.304933,465.65,9.0,4190.85,460.70,4146.30
50,LAND.L,5,0.022422,22421.524664,654.00,34.0,22236.00,619.60,21066.40
7,REL.L,2,0.008969,8968.609865,3289.00,2.0,6578.00,3461.00,6922.00
27,NG.L,4,0.017937,17937.219731,1051.00,17.0,17867.00,1037.50,17637.50
48,RS1R.L,5,0.022422,22421.524664,774.20,28.0,21677.60,753.60,21100.80
8,SMIN.L,1,0.004484,4484.304933,1630.50,2.0,3261.00,1608.00,3216.00
26,SMDS.L,4,0.017937,17937.219731,276.30,64.0,17683.20,322.10,20614.40
14,AAF.L,3,0.013453,13452.914798,110.80,121.0,13406.80,94.85,11476.85
79,NWG.L,9,0.040359,40358.744395,220.50,183.0,40351.50,239.10,43755.30
24,MNG.L,3,0.013453,13452.914798,219.40,61.0,13383.40,224.70,13706.70
61,FLTRF.L,2,0.008969,8968.609865,16340.00,0.0,0.00,17105.00,0.00
11,CTEC.L,5,0.022422,22421.524664,238.60,93.0,22189.80,246.20,22896.60
46,EXPN.L,2,0.008969,8968.609865,3322.00,2.0,6644.00,3385.00,6770.00
69,RIO.L,3,0.013453,13452.914798,5487.00,2.0,10974.00,5079.00,10158.00
41,HLN.L,7,0.031390,31390.134529,325.75,96.0,31272.00,331.45,31819.20
19,AHT.L,7,0.031390,31390.134529,5248.00,5.0,26240.00,5680.00,28400.00
88,FCIT.L,2,0.008969,8968.609865,965.00,9.0,8685.00,982.00,8838.00
92,BAES.L,6,0.026906,26905.829596,1169.50,23.0,26898.50,1242.00,28566.00
16,SGRO.L,6,0.026906,26905.829596,866.60,31.0,26864.60,845.40,26207.40
45,IMB.L,8,0.035874,35874.439462,1880.00,19.0,35720.00,1704.50,32385.50
74,SSE.L,8,0.035874,35874.439462,1670.50,21.0,35080.50,1625.50,34135.50
83,BDEV.L,9,0.040359,40358.744395,534.80,75.0,40110.00,466.50,34987.50
3,BNZL.L,1,0.004484,4484.304933,3204.00,1.0,3204.00,3153.00,3153.00
82,ITRK.L,1,0.004484,4484.304933,4481.00,1.0,4481.00,4622.00,4622.00
78,LLOY.L,7,0.031390,31390.134529,42.33,741.0,31366.53,46.57,34508.37

In [107]:
print("Inversión Inicial:", sum(Inst_rndm['InversionInicial']))
print("Inversión Final:", sum(Inst_rndm['InversionFinal']))

Inversión Inicial: 945154.68
Inversión Final: 950338.52

In [108]:
v0 = df_ts.loc['20240201'][0]

In [109]:
v1 = df_ts.loc['20240229'][0]

In [110]:
print("Inversion final si hubiera invertido en el índice ", (945154.68*v1)/v0)

Inversion final si hubiera invertido en el índice  946129.3270534337

In [89]:
filtered_df_ts.loc['20240201']

.FTSE
CLOSE        7622.16
SMA_200    7558.9437
BUY             True
Name: 2024-02-01 00:00:00, dtype: object

At the start of every calendar month, we sell all holdings and buy 50 random stocks. The weight of each stock is still completely random, but they all add up to 100% to make sure we’re fully invested. The only added rule here is that if the index itself is below its 200-day moving average, we don’t buy. This means that if the index is below the average on the first of the month, we spend the entire month in cash. Now we do another 500 random iterations to see what comes out.

In [ ]:
Noviembre falla

In [111]:
Precios

,MNDI.L,AZN.L,TSCO.L,SKG.L,PHNX.L,UU.L,CRDA.L,PRU.L,DPLM.L,WTB.L,...,AHT.L,FCIT.L,BAES.L,SGRO.L,IMB.L,SSE.L,BDEV.L,BNZL.L,ITRK.L,LLOY.L
Date,,,,,,,,,,,,,,,,,,,,,
2024-02-01,1401.0,10430,282.9,2880,502.0,1062.5,4967,806.2,3340,3541,...,5248,965,1169.5,866.6,1880.0,1670.5,534.8,3204,4481,42.33
2024-02-02,1367.5,10360,290.8,2862,503.4,1057.0,4863,814.2,3320,3515,...,5344,979,1172.0,862.0,1871.0,1668.5,529.4,3208,4465,42.315
2024-02-05,1364.0,10360,289.8,2862,497.2,1049.5,4943,817.8,3258,3520,...,5112,980,1179.0,856.4,1882.0,1679.0,520.8,3203,4455,41.89
2024-02-06,1373.0,10534,289.9,2870,502.0,1049.0,4959,849.2,3294,3543,...,5240,990,1205.5,860.4,1892.5,1669.5,530.0,3212,4477,41.88
2024-02-07,1381.0,10490,280.0,2972,497.1,1044.5,4990,830.2,3290,3539,...,5244,987,1198.5,845.0,1868.0,1653.0,501.0,3189,4388,41.58
2024-02-08,1336.0,9823,280.4,3130,493.4,1025.5,5022,818.2,3386,3467,...,5264,984,1195.0,846.6,1858.5,1575.5,487.5,3200,4434,41.515
2024-02-09,1344.0,9761,280.5,3176,489.2,1016.5,4970,798.0,3380,3482,...,5250,985,1209.5,835.0,1882.5,1557.0,487.1,3202,4467,41.4
2024-02-12,1360.5,9501,279.6,3202,496.7,1032.0,4927,812.4,3386,3507,...,5278,995,1224.0,837.4,1896.0,1564.0,488.5,3198,4416,41.4
2024-02-13,1346.0,9600,273.7,3156,488.8,1026.5,4834,790.8,3300,3446,...,5116,976,1212.5,813.8,1883.5,1547.0,466.1,3179,4323,41.185
2024-02-14,1352.5,9724,277.2,3182,495.4,1023.0,4865,790.4,3310,3445,...,5170,982,1230.0,814.8,1892.0,1570.0,473.6,3188,4379,41.44
2024-02-15,1373.0,9826,276.2,3200,501.2,1040.5,5024,807.6,3332,3483,...,5250,984,1225.0,833.2,1830.5,1585.5,475.7,3181,4348,41.58
2024-02-16,1375.0,10094,279.6,3248,505.0,1043.0,5040,834.4,3426,3482,...,5400,993,1242.0,849.4,1845.0,1595.5,478.0,3215,4430,43.2
2024-02-19,1379.5,10418,281.1,3280,502.6,1041.5,4985,821.2,3406,3514,...,5376,990,1248.0,864.8,1842.0,1598.0,477.8,3226,4479,42.88
2024-02-20,1382.5,10204,284.5,3252,501.8,1054.0,4999,815.0,3402,3550,...,5350,982,1253.0,861.6,1824.0,1609.5,480.8,3253,4491,43.65
2024-02-21,1385.5,10102,285.5,3250,500.2,1052.0,4906,821.8,3388,3575,...,5382,976,1241.5,868.0,1806.5,1609.5,478.0,3246,4478,43.29
2024-02-22,1410.5,10036,276.8,3242,503.0,1042.0,4854,822.6,3424,3542,...,5524,985,1232.0,871.4,1818.0,1578.0,478.0,3257,4639,45.955
2024-02-23,1425.5,10220,279.7,3248,504.0,1034.5,4925,819.6,3428,3509,...,5466,988,1240.5,864.2,1829.0,1586.5,478.5,3306,4645,45.495
2024-02-26,1401.0,10254,278.5,3248,500.8,1023.5,4903,814.6,3450,3492,...,5512,987,1256.0,863.4,1818.5,1564.0,477.3,3210,4651,45.915
2024-02-27,1403.0,10328,277.6,3282,496.8,1032.0,4748,808.0,3448,3464,...,5510,983,1235.5,849.2,1730.5,1594.0,470.4,3185,4620,46.31
2024-02-28,1410.0,10180,277.3,3334,491.6,1027.0,4600,790.8,3442,3461,...,5522,981,1229.5,845.0,1703.0,1612.5,464.0,3135,4611,46.575
2024-02-29,1408.5,9983,278.8,3378,497.3,1025.0,4766,777.6,3456,3303,...,5680,982,1242.0,845.4,1704.5,1625.5,466.5,3153,4622,46.57

In [120]:
Inst_rndm['Instrument2'] = Inst_rndm['Instrument'] + '_inv' 
Activos = Inst_rndm[['Instrument2', 'Activos']].set_index('Instrument2').transpose()

In [123]:
Precios['tmp'] = 1
Activos['tmp'] = 1
df = pd.merge(Precios, Activos, on=['tmp'])
df = df.drop('tmp', axis=1)

In [125]:
df.columns

Index(['MNDI.L', 'AZN.L', 'TSCO.L', 'SKG.L', 'PHNX.L', 'UU.L', 'CRDA.L',
       'PRU.L', 'DPLM.L', 'WTB.L', 'ANTO.L', 'WPP.L', 'ICP.L', 'FRAS.L',
       'SGE.L', 'WEIR.L', 'EDV.L', 'BMEB.L', 'AAL.L', 'RR.L', 'LSEG.L',
       'ULVR.L', 'DGE.L', 'BATS.L', 'ICAG.L', 'BP.L', 'LAND.L', 'REL.L',
       'NG.L', 'RS1R.L', 'SMIN.L', 'SMDS.L', 'AAF.L', 'NWG.L', 'MNG.L',
       'FLTRF.L', 'CTEC.L', 'EXPN.L', 'RIO.L', 'HLN.L', 'AHT.L', 'FCIT.L',
       'BAES.L', 'SGRO.L', 'IMB.L', 'SSE.L', 'BDEV.L', 'BNZL.L', 'ITRK.L',
       'LLOY.L', 'MNDI.L_inv', 'AZN.L_inv', 'TSCO.L_inv', 'SKG.L_inv',
       'PHNX.L_inv', 'UU.L_inv', 'CRDA.L_inv', 'PRU.L_inv', 'DPLM.L_inv',
       'WTB.L_inv', 'ANTO.L_inv', 'WPP.L_inv', 'ICP.L_inv', 'FRAS.L_inv',
       'SGE.L_inv', 'WEIR.L_inv', 'EDV.L_inv', 'BMEB.L_inv', 'AAL.L_inv',
       'RR.L_inv', 'LSEG.L_inv', 'ULVR.L_inv', 'DGE.L_inv', 'BATS.L_inv',
       'ICAG.L_inv', 'BP.L_inv', 'LAND.L_inv', 'REL.L_inv', 'NG.L_inv',
       'RS1R.L_inv', 'SMIN.L_inv', 'SMDS.L_inv', 'AAF.L_inv', 'NWG.L_inv',
       'MNG.L_inv', 'FLTRF.L_inv', 'CTEC.L_inv', 'EXPN.L_inv', 'RIO.L_inv',
       'HLN.L_inv', 'AHT.L_inv', 'FCIT.L_inv', 'BAES.L_inv', 'SGRO.L_inv',
       'IMB.L_inv', 'SSE.L_inv', 'BDEV.L_inv', 'BNZL.L_inv', 'ITRK.L_inv',
       'LLOY.L_inv'],
      dtype='object')

In [127]:
df['Valor'] = df['MNDI.L']*df['MNDI.L_inv'] + df['AZN.L']*df['AZN.L_inv']+ df['TSCO.L']*df['TSCO.L_inv']+df['SKG.L']*df['SKG.L_inv']+ df['PHNX.L']*df['PHNX.L_inv']+df['UU.L']*df['UU.L_inv']+ df['CRDA.L']*df['CRDA.L_inv']+ df['PRU.L']*df['PRU.L_inv']+ df['DPLM.L']*df['DPLM.L_inv']+ df['WTB.L']*df['WTB.L_inv']+ df['ANTO.L']*df['ANTO.L_inv']+df['WPP.L']*df['WPP.L_inv']+ df['ICP.L']*df['ICP.L_inv']+df['FRAS.L']*df['FRAS.L_inv']+ df['SGE.L']*df['SGE.L_inv']+ df['WEIR.L']*df['WEIR.L_inv']
#'EDV.L''BMEB.L''AAL.L''RR.L''LSEG.L',
#       'ULVR.L''DGE.L''BATS.L''ICAG.L''BP.L''LAND.L''REL.L',
#       'NG.L''RS1R.L''SMIN.L''SMDS.L''AAF.L''NWG.L''MNG.L',
#       'FLTRF.L''CTEC.L''EXPN.L''RIO.L''HLN.L''AHT.L''FCIT.L',
#       'BAES.L''SGRO.L''IMB.L''SSE.L''BDEV.L''BNZL.L''ITRK.L',
#       'LLOY.L'

In [128]:
df

,MNDI.L,AZN.L,TSCO.L,SKG.L,PHNX.L,UU.L,CRDA.L,PRU.L,DPLM.L,WTB.L,...,FCIT.L_inv,BAES.L_inv,SGRO.L_inv,IMB.L_inv,SSE.L_inv,BDEV.L_inv,BNZL.L_inv,ITRK.L_inv,LLOY.L_inv,Valor
0,1401.0,10430,282.9,2880,502.0,1062.5,4967,806.2,3340,3541,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,311441.6
1,1367.5,10360,290.8,2862,503.4,1057.0,4863,814.2,3320,3515,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,311497.8
2,1364.0,10360,289.8,2862,497.2,1049.5,4943,817.8,3258,3520,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,308693.8
3,1373.0,10534,289.9,2870,502.0,1049.0,4959,849.2,3294,3543,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,312458.9
4,1381.0,10490,280.0,2972,497.1,1044.5,4990,830.2,3290,3539,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,309346.1
5,1336.0,9823,280.4,3130,493.4,1025.5,5022,818.2,3386,3467,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,306845.4
6,1344.0,9761,280.5,3176,489.2,1016.5,4970,798.0,3380,3482,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,306063.4
7,1360.5,9501,279.6,3202,496.7,1032.0,4927,812.4,3386,3507,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,308783.7
8,1346.0,9600,273.7,3156,488.8,1026.5,4834,790.8,3300,3446,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,303627.4
9,1352.5,9724,277.2,3182,495.4,1023.0,4865,790.4,3310,3445,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,305897.9
10,1373.0,9826,276.2,3200,501.2,1040.5,5024,807.6,3332,3483,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,308211.7
11,1375.0,10094,279.6,3248,505.0,1043.0,5040,834.4,3426,3482,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,313588.0
12,1379.5,10418,281.1,3280,502.6,1041.5,4985,821.2,3406,3514,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,313343.4
13,1382.5,10204,284.5,3252,501.8,1054.0,4999,815.0,3402,3550,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,314095.0
14,1385.5,10102,285.5,3250,500.2,1052.0,4906,821.8,3388,3575,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,314045.4
15,1410.5,10036,276.8,3242,503.0,1042.0,4854,822.6,3424,3542,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,311990.0
16,1425.5,10220,279.7,3248,504.0,1034.5,4925,819.6,3428,3509,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,312345.3
17,1401.0,10254,278.5,3248,500.8,1023.5,4903,814.6,3450,3492,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,310348.0
18,1403.0,10328,277.6,3282,496.8,1032.0,4748,808.0,3448,3464,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,309819.2
19,1410.0,10180,277.3,3334,491.6,1027.0,4600,790.8,3442,3461,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,309079.5
20,1408.5,9983,278.8,3378,497.3,1025.0,4766,777.6,3456,3303,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,308638.4

In [129]:

df_ts_rndm = ek.get_timeseries(['MNDI.L'], fields = ['CLOSE'],
                          start_date = dt.datetime(2022, 1, 1, 0, 0), 
                          end_date = dt.datetime(2024, 3, 11, 0, 0), 
                          interval="daily", 
                          corax = 'adjusted' )

Precios2 = df_ts_rndm = df_ts_rndm.rename(columns={'CLOSE': 'MNDI.L'})

In [130]:
for i in Inst_rndm['Instrument'][1:]:
    print(i)
    w = ek.get_timeseries([i], fields = ['CLOSE'],
                          start_date = dt.datetime(2022, 1, 1, 0, 0), 
                          end_date = dt.datetime(2024, 3, 11, 0, 0), 
                          interval="daily", 
                          corax = 'adjusted' )
    w1 = w.rename(columns={'CLOSE': i})
    Precios2 = Precios2.join(w1, lsuffix="_left", rsuffix="_right")

AZN.L
TSCO.L
SKG.L
PHNX.L
UU.L
CRDA.L
PRU.L
DPLM.L
WTB.L
ANTO.L
WPP.L
ICP.L
FRAS.L
SGE.L
WEIR.L
EDV.L
BMEB.L
AAL.L
RR.L
LSEG.L
ULVR.L
DGE.L
BATS.L
ICAG.L
BP.L
LAND.L
REL.L
NG.L
RS1R.L
SMIN.L
SMDS.L
AAF.L
NWG.L
MNG.L
FLTRF.L
CTEC.L
EXPN.L
RIO.L
HLN.L
AHT.L
FCIT.L
BAES.L
SGRO.L
IMB.L
SSE.L
BDEV.L
BNZL.L
ITRK.L
LLOY.L

In [131]:
Precios2

,MNDI.L,AZN.L,TSCO.L,SKG.L,PHNX.L,UU.L,CRDA.L,PRU.L,DPLM.L,WTB.L,...,AHT.L,FCIT.L,BAES.L,SGRO.L,IMB.L,SSE.L,BDEV.L,BNZL.L,ITRK.L,LLOY.L
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-04,1852.913185,8473,293.95,4112,662.4,1091.5,9906,1315.0,3400,3134,...,6090,946,554.6,1383.5,1644.5,1664.0,760.0,2867,5782,49.91
2022-01-05,1867.904392,8460,296.7,4168,659.8,1083.0,9808,1294.5,3384,3156,...,6200,940,547.0,1385.5,1648.5,1643.5,757.6,2871,5700,50.68
2022-01-06,1853.412892,8356,292.3,4140,659.0,1072.5,9504,1285.5,3254,3169,...,6114,925,549.8,1354.5,1638.5,1625.0,739.4,2777,5640,52.0
2022-01-07,1887.892668,8399,289.05,4139,670.0,1068.0,9458,1320.0,3208,3165,...,6058,913,558.6,1343.0,1644.0,1634.0,735.4,2765,5616,52.84
2022-01-10,1867.904392,8334,292.45,4078,669.6,1055.0,9034,1296.0,3054,3162,...,5700,893,572.0,1312.0,1664.0,1638.5,699.6,2696,5496,52.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-05,1385.0,10112,276.3,3338,495.9,1023.0,4671,757.2,3382,3172,...,5192,978,1280.0,867.8,1666.0,1658.5,471.0,3087,4905,47.8
2024-03-06,1384.0,10140,280.4,3254,499.8,1033.0,4683,759.2,3416,3204,...,5182,985,1276.0,873.0,1678.5,1668.5,472.5,3065,4959,48.4
2024-03-07,1380.0,10234,283.7,3296,507.8,1054.0,4816,781.2,3412,3224,...,5126,983,1272.0,880.4,1692.5,1661.5,477.0,3068,4960,48.605
2024-03-08,1348.5,10196,286.2,3336,510.0,1057.0,4738,779.0,3418,3226,...,5028,980,1258.0,891.0,1692.5,1650.0,477.7,3095,4962,48.555
2024-03-11,1349.5,10450,282.2,3340,509.2,1054.5,4740,788.2,3400,3274,...,5046,972,1260.0,891.8,1740.5,1613.0,478.3,3074,4961,49.05

In [132]:
Precios2['tmp'] = 1
Activos['tmp'] = 1
dfn = pd.merge(Precios2, Activos, on=['tmp'])
dfn = dfn.drop('tmp', axis=1)

In [133]:
dfn['Valor'] = dfn['MNDI.L']*dfn['MNDI.L_inv'] + dfn['AZN.L']*dfn['AZN.L_inv']+ dfn['TSCO.L']*dfn['TSCO.L_inv']+dfn['SKG.L']*dfn['SKG.L_inv']+ dfn['PHNX.L']*dfn['PHNX.L_inv']+dfn['UU.L']*dfn['UU.L_inv']+ dfn['CRDA.L']*dfn['CRDA.L_inv']+ dfn['PRU.L']*dfn['PRU.L_inv']+ dfn['DPLM.L']*dfn['DPLM.L_inv']+ dfn['WTB.L']*dfn['WTB.L_inv']+ dfn['ANTO.L']*dfn['ANTO.L_inv']+dfn['WPP.L']*dfn['WPP.L_inv']+ dfn['ICP.L']*dfn['ICP.L_inv']+dfn['FRAS.L']*dfn['FRAS.L_inv']+ dfn['SGE.L']*dfn['SGE.L_inv']+ dfn['WEIR.L']*dfn['WEIR.L_inv']
#'EDV.L''BMEB.L''AAL.L''RR.L''LSEG.L',
#       'ULVR.L''DGE.L''BATS.L''ICAG.L''BP.L''LAND.L''REL.L',
#       'NG.L''RS1R.L''SMIN.L''SMDS.L''AAF.L''NWG.L''MNG.L',
#       'FLTRF.L''CTEC.L''EXPN.L''RIO.L''HLN.L''AHT.L''FCIT.L',
#       'BAES.L''SGRO.L''IMB.L''SSE.L''BDEV.L''BNZL.L''ITRK.L',
#       'LLOY.L'

In [134]:
dfn

,MNDI.L,AZN.L,TSCO.L,SKG.L,PHNX.L,UU.L,CRDA.L,PRU.L,DPLM.L,WTB.L,...,FCIT.L_inv,BAES.L_inv,SGRO.L_inv,IMB.L_inv,SSE.L_inv,BDEV.L_inv,BNZL.L_inv,ITRK.L_inv,LLOY.L_inv,Valor
0,1852.913185,8473,293.95,4112,662.4,1091.5,9906,1315.0,3400,3134,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,346440.150519
1,1867.904392,8460,296.7,4168,659.8,1083.0,9808,1294.5,3384,3156,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,347524.083452
2,1853.412892,8356,292.3,4140,659.0,1072.5,9504,1285.5,3254,3169,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,343129.94495
3,1887.892668,8399,289.05,4139,670.0,1068.0,9458,1320.0,3208,3165,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,344825.560696
4,1867.904392,8334,292.45,4078,669.6,1055.0,9034,1296.0,3054,3162,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,342255.183452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,1385.0,10112,276.3,3338,495.9,1023.0,4671,757.2,3382,3172,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,306357.4
547,1384.0,10140,280.4,3254,499.8,1033.0,4683,759.2,3416,3204,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,308191.2
548,1380.0,10234,283.7,3296,507.8,1054.0,4816,781.2,3412,3224,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,311072.9
549,1348.5,10196,286.2,3336,510.0,1057.0,4738,779.0,3418,3226,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,310374.0
550,1349.5,10450,282.2,3340,509.2,1054.5,4740,788.2,3400,3274,...,9.0,23.0,31.0,19.0,21.0,75.0,1.0,1.0,741.0,310558.3

In [136]:
dfn['Valor'].std()

17666.622167075333

In [137]:
dfn['Valor'].mean()

303365.6996502178

In [ ]:
PyQuant News 🐍
@pyquantnews
·
Feb 19
If someone tells you they make money with technical analysis, ask them if their strategy is:

• Statistically significant?
• Consistently making money?
• Robust to parameter changes?

Be careful with technical analysis.