#Obtenido los datos de yahoo - precio de cierre contra 200 dma
#Acumulado contra el último precio de cierre

In [2]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp
cf.set_config_file(offline=True)  # set the plotting mode to offline

In [3]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

At the start of every calendar month, we sell all holdings and buy 50 random stocks. 
The weight of each stock is still completely random, but they all add up to 100% 
to make sure we’re fully invested. 
The only added rule here is that if the index itself is below its 200-day moving average,
we don’t buy. 
This means that if the index is below the average on the first of the month, 
we spend the entire month in cash.
Now we do another 500 random iterations to see what comes out.

In [4]:
FTSE = ek.get_data('0#.FTSE', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])[0]
FTSE

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,STAN.L,Standard Chartered PLC,682.4,12963766,2.370237
1,CRDA.L,Croda International PLC,4792.0,291690,-5.108911
2,ANTO.L,Antofagasta PLC,1838.0,1336267,9.437333
3,BNZL.L,Bunzl plc,3066.0,829093,-3.887147
4,SGE.L,Sage Group PLC,1253.5,2551172,8.087451
...,...,...,...,...,...
95,EDV.L,Endeavour Mining plc,1368.0,1241781,-20.122631
96,OCDO.L,Ocado Group PLC,445.0,10734170,-41.32384
97,LSEG.L,London Stock Exchange Group PLC,9070.0,877055,-2.199698
98,TSCO.L,Tesco PLC,275.9,15338001,-5.025818
99,LGEN.L,Legal & General Group PLC,242.9,12976862,-3.265631

In [5]:
FTSC = ek.get_data('0#.FTSC', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])[0]
FTSC

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,FSTA.L,Fuller Smith & Turner PLC,552.0,73431,-15.337423
1,IGC.L,India Capital Growth Fund Ltd,185.5,632302,7.225434
2,PINE.L,Pinewood Technologies Group PLC,37.0,5656009,14.551084
3,OIT.L,Odyssean Investment Trust PLC,151.5,101244,-4.113924
4,NCYF.L,CQS New City High Yield Fund Ltd,50.0,656150,0.774829
...,...,...,...,...,...
213,MNL.L,Manchester And London Investment Trust PLC,668.0,100221,22.120658
214,PORV.L,Porvair PLC,642.0,51448,4.220779
215,APTD.L,Aptitude Software Group PLC,320.0,4044,14.285714
216,PCA.L,Palace Capital PLC,223.0,31309,0.45045
217,JEGI.L,JPMorgan European Growth & Income PLC,102.5,569488,5.92408

In [6]:
import datetime as dt
today = dt.datetime.today()
f_inicio = today - dt.timedelta(days=600)
print(today, f_inicio)

2024-03-04 17:38:16.988244 2022-07-13 17:38:16.988244

In [7]:
df_ts = ek.get_timeseries(['.FTSE'], fields = ['CLOSE'],
                          start_date = f_inicio, 
                          end_date = today, 
                          interval="daily", 
                          corax = 'adjusted' )

df_ts

.FTSE         CLOSE
Date
2022-07-14  7039.81
2022-07-15  7159.01
2022-07-18  7223.24
2022-07-19  7296.28
2022-07-20  7264.31
...             ...
2024-02-27  7683.02
2024-02-28  7624.98
2024-02-29  7630.02
2024-03-01   7682.5
2024-03-04  7640.33

[414 rows x 1 columns]

In [8]:
df_ts['SMA_200'] = df_ts['CLOSE'].rolling(200).mean()
filtered_df_ts = df_ts[~df_ts['SMA_200'].isna()]
filtered_df_ts

.FTSE         CLOSE     SMA_200
Date
2023-04-28  7870.57  7490.09390
2023-05-02  7773.03  7493.76000
2023-05-03  7788.37  7496.90680
2023-05-04  7702.64  7499.30380
2023-05-05  7778.38  7501.71430
...             ...         ...
2024-02-27  7683.02  7543.45715
2024-02-28  7624.98  7542.96590
2024-02-29  7630.02  7542.40450
2024-03-01   7682.5  7542.03265
2024-03-04  7640.33  7541.37935

[215 rows x 2 columns]

In [9]:
# if the index itself is below its 200-day moving average, we don’t buy. 

filtered_df_ts['BUY'] = filtered_df_ts['SMA_200'] < filtered_df_ts['CLOSE']
filtered_df_ts

.FTSE         CLOSE     SMA_200   BUY
Date
2023-04-28  7870.57  7490.09390  True
2023-05-02  7773.03  7493.76000  True
2023-05-03  7788.37  7496.90680  True
2023-05-04  7702.64  7499.30380  True
2023-05-05  7778.38  7501.71430  True
...             ...         ...   ...
2024-02-27  7683.02  7543.45715  True
2024-02-28  7624.98  7542.96590  True
2024-02-29  7630.02  7542.40450  True
2024-03-01   7682.5  7542.03265  True
2024-03-04  7640.33  7541.37935  True

[215 rows x 3 columns]

At the start of every calendar month, we sell all holdings and buy 50 random stocks. 
The weight of each stock is still completely random, but they all add up to 100%

In [11]:
Inst_rndm = pd.DataFrame(FTSE['Instrument'].sample(n=50))
Inst_rndm['randNumCol'] = np.random.randint(1,10, size=len(Inst_rndm))
Inst_rndm['weight'] = Inst_rndm['randNumCol']/sum(Inst_rndm['randNumCol'] )
Inst_rndm

   Instrument  randNumCol    weight
38      INF.L           8  0.033898
62      IHG.L           6  0.025424
68      PSN.L           4  0.016949
53       JD.L           4  0.016949
74      SSE.L           8  0.033898
95      EDV.L           6  0.025424
85     GLEN.L           6  0.025424
89      UTG.L           9  0.038136
37      DGE.L           6  0.025424
99     LGEN.L           8  0.033898
69      RIO.L           1  0.004237
30     WEIR.L           5  0.021186
93      DCC.L           1  0.004237
16     SGRO.L           7  0.029661
32     MRON.L           3  0.012712
77      KGF.L           7  0.029661
96     OCDO.L           1  0.004237
4       SGE.L           1  0.004237
17      SJP.L           9  0.038136
72       SN.L           9  0.038136
59     SBRY.L           2  0.008475
55      AAL.L           4  0.016949
29      SKG.L           4  0.016949
94     ULVR.L           7  0.029661
35       AV.L           6  0.025424
83     BDEV.L           6  0.025424
42      WTB.L           6  0.025424
80      SDR.L           1  0.004237
97     LSEG.L           1  0.004237
50     LAND.L           2  0.008475
47     BRBY.L           7  0.029661
57      RTO.L           4  0.016949
58      RMV.L           5  0.021186
51     BEZG.L           1  0.004237
54      ABF.L           9  0.038136
48     RS1R.L           8  0.033898
84     SHEL.L           1  0.004237
66     PSON.L           6  0.025424
67      SPX.L           2  0.008475
12      WPP.L           2  0.008475
7       REL.L           1  0.004237
75      SMT.L           8  0.033898
11     CTEC.L           7  0.029661
18       TW.L           4  0.016949
39       UU.L           4  0.016949
46     EXPN.L           1  0.004237
41      HLN.L           2  0.008475
98     TSCO.L           3  0.012712
13     FRES.L           7  0.029661
20     HLMA.L           6  0.025424

In [12]:
sum(Inst_rndm['weight'])

0.9999999999999999

In [22]:
df_ts_rndm = ek.get_timeseries(['INF.L'], fields = ['CLOSE'],
                          start_date = dt.datetime(2024, 2, 1, 0, 0), 
                          end_date = dt.datetime(2024, 2, 29, 0, 0), 
                          interval="daily", 
                          corax = 'adjusted' )

Precios = df_ts_rndm = df_ts_rndm.rename(columns={'CLOSE': 'INF.L'})

In [23]:
Precios

INF.L       INF.L
Date
2024-02-01  775.4
2024-02-02  775.2
2024-02-05  785.6
2024-02-06  788.4
2024-02-07  792.0
2024-02-08  791.2
2024-02-09  799.0
2024-02-12  804.8
2024-02-13  792.2
2024-02-14  798.6
2024-02-15  811.0
2024-02-16  817.0
2024-02-19  819.6
2024-02-20  821.4
2024-02-21  819.2
2024-02-22  823.6
2024-02-23  824.6
2024-02-26  825.8
2024-02-27  810.2
2024-02-28  812.4
2024-02-29  810.2

In [24]:
for i in Inst_rndm['Instrument'][1:]:
    print(i)
    w = ek.get_timeseries([i], fields = ['CLOSE'],
                          start_date = dt.datetime(2024, 2, 1, 0, 0), 
                          end_date = dt.datetime(2024, 2, 29, 0, 0), 
                          interval="daily", 
                          corax = 'adjusted' )
    w1 = w.rename(columns={'CLOSE': i})
    Precios = Precios.join(w1, lsuffix="_left", rsuffix="_right")

IHG.L
PSN.L
JD.L
SSE.L
EDV.L
GLEN.L
UTG.L
DGE.L
LGEN.L
RIO.L
WEIR.L
DCC.L
SGRO.L
MRON.L
KGF.L
OCDO.L
SGE.L
SJP.L
SN.L
SBRY.L
AAL.L
SKG.L
ULVR.L
AV.L
BDEV.L
WTB.L
SDR.L
LSEG.L
LAND.L
BRBY.L
RTO.L
RMV.L
BEZG.L
ABF.L
RS1R.L
SHEL.L
PSON.L
SPX.L
WPP.L
REL.L
SMT.L
CTEC.L
TW.L
UU.L
EXPN.L
HLN.L
TSCO.L
FRES.L
HLMA.L

In [25]:
Precios

,INF.L,IHG.L,PSN.L,JD.L,SSE.L,EDV.L,GLEN.L,UTG.L,DGE.L,LGEN.L,...,REL.L,SMT.L,CTEC.L,TW.L,UU.L,EXPN.L,HLN.L,TSCO.L,FRES.L,HLMA.L
Date,,,,,,,,,,,,,,,,,,,,,
2024-02-01,775.4,7474,1442.5,114.95,1670.5,1415,426.1,1012.0,2905.0,250.9,...,3289,764.0,238.6,146.55,1062.5,3322,325.75,282.9,522.0,2187
2024-02-02,775.2,7494,1446.5,113.0,1668.5,1357,417.6,1006.0,2936.5,253.5,...,3308,764.4,235.8,146.95,1057.0,3304,325.0,290.8,505.6,2167
2024-02-05,785.6,7516,1411.0,107.05,1679.0,1340,409.4,995.5,2984.0,249.3,...,3301,771.0,236.6,145.15,1049.5,3274,329.05,289.8,504.8,2151
2024-02-06,788.4,7570,1427.0,110.75,1669.5,1338,410.5,1005.0,2971.5,251.5,...,3287,782.0,238.2,147.05,1049.0,3297,329.5,289.9,511.0,2174
2024-02-07,792.0,7642,1439.0,107.35,1653.0,1307,402.4,1006.0,2940.0,244.1,...,3269,783.0,238.8,148.75,1044.5,3290,329.15,280.0,504.4,2182
2024-02-08,791.2,7634,1377.0,104.5,1575.5,1290,396.8,1005.0,2926.0,241.3,...,3301,789.0,234.6,145.25,1025.5,3338,323.0,280.4,493.2,2213
2024-02-09,799.0,7674,1400.5,104.0,1557.0,1286,385.05,993.5,2899.5,233.8,...,3350,794.0,239.0,146.9,1016.5,3358,319.45,280.5,476.7,2211
2024-02-12,804.8,7734,1419.0,105.65,1564.0,1323,394.25,1006.0,2890.5,235.5,...,3335,806.8,238.4,147.95,1032.0,3380,319.65,279.6,493.4,2204
2024-02-13,792.2,7554,1361.5,105.45,1547.0,1282,392.7,979.0,2860.5,230.8,...,3265,779.0,234.6,141.45,1026.5,3304,317.9,273.7,471.8,2151
2024-02-14,798.6,7640,1403.5,108.25,1570.0,1269,391.45,986.0,2868.5,235.2,...,3336,790.4,239.8,143.85,1023.0,3359,316.2,277.2,466.5,2190
2024-02-15,811.0,7682,1420.5,109.85,1585.5,1292,391.05,997.5,2898.0,237.4,...,3314,788.8,241.4,145.7,1040.5,3355,320.45,276.2,478.9,2196
2024-02-16,817.0,7760,1422.0,112.1,1595.5,1300,399.55,1002.0,2927.5,240.2,...,3402,808.2,244.0,145.7,1043.0,3396,323.0,279.6,487.5,2253
2024-02-19,819.6,7910,1420.0,113.1,1598.0,1302,395.4,1003.0,2940.5,238.7,...,3412,797.0,245.0,146.15,1041.5,3405,322.95,281.1,477.5,2275
2024-02-20,821.4,8334,1428.5,112.2,1609.5,1297,390.4,991.5,2966.5,241.4,...,3436,770.0,242.2,145.65,1054.0,3390,325.65,284.5,473.0,2282
2024-02-21,819.2,8530,1421.0,112.45,1609.5,1312,386.05,990.0,2989.0,240.0,...,3434,762.6,245.2,146.7,1052.0,3378,324.45,285.5,469.9,2310
2024-02-22,823.6,8600,1414.0,113.45,1578.0,1250,379.9,985.5,2985.0,241.0,...,3475,797.0,247.4,146.1,1042.0,3436,326.5,276.8,470.3,2351
2024-02-23,824.6,8752,1412.5,115.4,1586.5,1263,375.8,993.0,2986.0,242.0,...,3500,787.6,248.4,146.0,1034.5,3432,327.3,279.7,474.4,2362
2024-02-26,825.8,8652,1379.5,114.5,1564.0,1263,368.95,986.5,2992.5,241.3,...,3504,791.8,251.0,141.9,1023.5,3428,324.25,278.5,467.8,2368
2024-02-27,810.2,8680,1370.5,114.9,1594.0,1277,372.05,977.5,3027.0,240.3,...,3454,803.2,248.8,140.55,1032.0,3416,322.05,277.6,467.9,2365
2024-02-28,812.4,8554,1331.5,117.7,1612.5,1277,373.45,950.0,3004.0,239.0,...,3439,800.0,246.6,133.85,1027.0,3401,313.95,277.3,451.6,2278
2024-02-29,810.2,8380,1363.5,117.9,1625.5,1275,375.15,960.0,2962.0,242.1,...,3461,801.2,246.2,137.85,1025.0,3385,331.45,278.8,455.4,2302